@charset "ISO-8859-1";

.nav1 {
	height: auto !important;
	min-height: inherit !important;
	margin-bottom: 0px !important;
}

.nav2 {
	margin-bottom: 0px !important;
}

.nav3 {
	 list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.btn-primary{
	background-color:#ff0000!important;
	
}
.prod {
	height: 200px;
	margin: 5px;
	width: 189px;
	position: relative;
}

.navbar-inverse {
	background-color: #555 !important;
	border-color: #555 !important;
}

.navbar-inverse .navbar-nav>li>a {
	color: #f5f5f5 !important;
}

.navbar-brand {
	padding: 5px 19px !important;
}

.navbar-nav>li>a {
	padding-top: 5px;
	padding-bottom: 5px;
}

.carousel-inner>.item>img {
	height: 380px !important;
	min-width: 100% !important;
}

.yolo {
    padding: 16px;
}

body, html {
    height: 100%;
}

h1 {
    position: relative;
    font-size: 30px;
    z-index: 1;
    overflow: hidden;
    text-align: center;
}
h1:before, h1:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 50%;
    height: 1px;
    content: '\a0';
    background-color: aqua;
}
h1:before {
    margin-left: -50%;
    text-align: right;
}
.color {
    background-color: #ccc;
}

.footer {
    padding: 50px 0 20px 0;
    background-color: #090c14;
    color: #878c94;
}
.footer .title{
	text-align: left;
	color:#fff;
	font-size:25px;
}
.footer .social-icon{
	padding:0px;
	margin:0px;
}
.footer .social-icon a{
	display:inline-block;
	color:#fff;
	font-size:25px;
	padding:5px;
}
.footer .acount-icon a{
	display:block;
	color:#fff;
	font-size:18px;
	padding:5px;
	text-decoration:none;
}
.footer .acount-icon .fa{
	margin-right:25px;
}
.footer .category a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 5px 20px;
    margin: 1px;
    border-radius:4px;
    margin-top: 6px;
    background-color: black;
    border: solid 1px #fff;
}
.footer .payment{
	margin:0px;
	padding:0px;
	list-style-type:none
}
.footer .payment li{
	list-style-type:none
}
.footer .payment li a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    float: left;
    font-size: 25px;
    padding: 10px 10px;
}

textarea {
	resize: none;
}